---
import ButtonPrimary from '@comp/ButtonPrimary.astro'
import Heading from '@comp/Heading.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='En construccion'>
  <section class='min-h-screen h-full bg-bar w-full grid place-items-center px-4 lg:px-0'>
    <div class='flex flex-col items-center h-full w-full justify-center gap-4'>
      <Heading text='En construccion' class='text-5xl text-red-500' />
      <p class='font-extralight text-center text-2xl'>
        Lo sentimos estamos construyendo esta pagina
      </p>

      <ButtonPrimary text='Volver al inicio' class='bg-black text-white' url='/' />
    </div>
  </section>
</Layout>
