---
import Industria from '@sections/Industria.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
import FeaturedProducts from '@sections/FeaturedProducts.astro'
import WhyBuyBardahl from '@sections/whyBuyBardahl.astro'
import BardahlEnElMundo from '@sections/BardahlEnElMundo.astro'
---

<Layout title='Bienvenidos a Bardahl'>
  <main>
    <Hero />
    <Industria />
    <FeaturedProducts />
    <WhyBuyBardahl />
    <BardahlEnElMundo />
    <section class='grid px-8 grid-cols-2 lg:grid-cols-3 place-items-center w-full gap-6'>
      <iframe
        class='w-full rounded-lg'
        src='https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fbardahlbolivia%2Fvideos%2F577352070813915%2F&show_text=false&width=560&t=0'
        width='400'
        height='400'
        style='border:none;overflow:hidden'
        scrolling='no'
        frameborder='0'
        allowfullscreen='true'
        allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'></iframe>
      <iframe
        class='w-full rounded-lg'
        src='https://www.facebook.com/plugins/video.php?height=311&href=https%3A%2F%2Fwww.facebook.com%2Fbardahlbolivia%2Fvideos%2F3403271859886260%2F&show_text=true&width=560&t=0'
        width='400'
        height='400'
        style='border:none;overflow:hidden'
        allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'
        allowfullscreen='true'></iframe>
      <iframe
        class='w-full rounded-lg'
        src='https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fbardahlbolivia%2Fvideos%2F577352070813915%2F&show_text=false&width=560&t=0'
        width='400'
        height='400'
        style='border:none;overflow:hidden'
        scrolling='no'
        frameborder='0'
        allowfullscreen='true'
        allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'></iframe>
      <iframe
        class='w-full rounded-lg'
        src='https://www.facebook.com/plugins/video.php?height=311&href=https%3A%2F%2Fwww.facebook.com%2Fbardahlbolivia%2Fvideos%2F3403271859886260%2F&show_text=true&width=560&t=0'
        width='400'
        height='400'
        style='border:none;overflow:hidden'
        allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'
        allowfullscreen='true'></iframe>
      <iframe
        class='w-full rounded-lg'
        src='https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fbardahlbolivia%2Fvideos%2F577352070813915%2F&show_text=false&width=560&t=0'
        width='400'
        height='400'
        style='border:none;overflow:hidden'
        scrolling='no'
        frameborder='0'
        allowfullscreen='true'
        allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'></iframe>
      <iframe
        class='w-full rounded-lg'
        src='https://www.facebook.com/plugins/video.php?height=311&href=https%3A%2F%2Fwww.facebook.com%2Fbardahlbolivia%2Fvideos%2F3403271859886260%2F&show_text=true&width=560&t=0'
        width='400'
        height='400'
        style='border:none;overflow:hidden'
        allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share'
        allowfullscreen='true'></iframe>
    </section>
  </main>
</Layout>
