---
import Industria from '@sections/Industria.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
import FeaturedProducts from '@sections/FeaturedProducts.astro'
import WhyBuyBardahl from '@sections/whyBuyBardahl.astro'
import BardahlEnElMundo from '@sections/BardahlEnElMundo.astro'
---

<Layout title='Bienvenidos a Bardahl'>
  <main>
    <Hero />
    <Industria />
    <FeaturedProducts />
    <WhyBuyBardahl />
    <BardahlEnElMundo />
  </main>
</Layout>
