---
import Container from '@layouts/Container.astro'
import productsDb from '@src/data/products.json'
import CardAllProduct from './CardAllProduct.astro'
const productos = [...productsDb]
const products = productos.slice(0, 8)
---

<Container>
  <section
    class='grid grid-cols-2 lg:grid-cols-3 place-items-center w-full lg:gap-24 gap-2'
  >
    {products.map((prod) => <CardAllProduct data={prod} />)}
  </section>
</Container>
