---
import Container from '@layouts/Container.astro'
import productsDb from '@src/data/products.json'
import CardAllProduct from './CardAllProduct.astro'
const productos = [...productsDb]
const products = productos.slice(0, 8)
---

<section class='grid grid-cols-2 lg:grid-cols-3 place-items-center w-full lg:gap-10 gap-6'>
  {products.map((prod) => <CardAllProduct data={prod} />)}
</section>
