<ul
  id='mobileMenu'
  class='hidden w-full animate-fade-down animate-ease-linear animate-fill-backwards flex flex-col items-start px-8 min-h-full py-5 justify-between h-full gap-5 bg-zinc-800 text-white'
>
  <li
    class='hover:text-white py-3 px-5  rounded-md w-full transition duration-100 ease-linear'
  >
    <a href='/' class='block text-white rounded-md w-full'>Inicio</a>
  </li>
  <li
    class='hover:text-white py-3 px-5  rounded-md w-full transition duration-100 ease-linear'
  >
    <a href='/productos' class='block text-white rounded-md w-full'>Productos</a>
  </li>
  <li
    class='hover:text-white py-3 px-5  rounded-md w-full transition duration-100 ease-linear'
  >
    <a href='/sobrenosotros' class='block text-white rounded-md w-full'>Nosotros</a>
  </li>
  <li
    class='hover:text-white py-3 px-5  rounded-md w-full transition duration-100 ease-linear'
  >
    <a href='/consejos' class='block text-white rounded-md w-full'>Consejos Bardahl</a>
  </li>
</ul>
